*{
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
	-moz-tap-highlight-color:rgba(0,0,0,0);
	tap-highlight-color:rgba(0,0,0,0);
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}

html,body{
  width: 100%;
}

$bc-color : #FFFFFF;
$font-color : #DADADA;
