<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/resource/css/one/index.css">
  <title>首页</title>
</head>
<body>
  <header>
    <div class="head-div">
      <p class="head-left">
        <span class="ls1">07</span>
        <span class="ls2">Feb.2018</span>
      </p>
      <p class="head-right">
        <span>地球 ·</span>
        <span>对流层</span>
        <span>-275C</span>
      </p>
    </div>
  </header>

  <div class="main">
    <section class="main-item xiaoji">
      <figure>
        <div class="x-img">
          <img src="/resource/images/couple.jpg" alt="city">
          <p>
            <i></i>
            <span>9866</span>
          </p>
        </div>
        <figcaption>
          <span>摄影</span>
          <span>Martin Reisch</span>
        </figcaption>
      </figure>
      <div class="tips">
        <p>要为爱情负责的是我们的想象力，不是对方</p>
        <span>普鲁斯特</span>
      </div>
      <p>
          <span>发现</span>
          <span>
            <i></i>
            <i></i>
            <i></i>
          </span>
      </p>
    </section>
  </div>
</body>
</html>
