<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/resource/css/one/index.css?v1">
  <title>首页</title>
</head>
<body>
  <header>
    <div class="head-div">
      <p class="head-left">
        <span class="ls1">07</span>
        <span class="ls2">Feb.2018</span>
      </p>
      <p class="head-right">
        <span>地球 ·</span>
        <span>对流层</span>
        <span>-275C</span>
      </p>
    </div>
  </header>

  <div class="main">
    <section class="main-item xiaoji">
      <figure>
        <div class="x-img">
          <img src="/resource/images/couple.jpg" alt="city">
          <p><span>9866</span></p>
        </div>
        <figcaption>
          <span>摄影</span>
          <span>Martin Reisch</span>
        </figcaption>
      </figure>
      <div class="tips">
        <p>要为爱情负责的是我们的想象力，不是对方</p>
        <p>普鲁斯特</p>
      </div>
      <p class="footer">
          <span>发现</span>
          <span class="icons">
            <i></i>
            <i></i>
            <i></i>
          </span>
      </p>
    </section>

    <section class="main-item pad-main story">
        <p class="head">问答</p>
        <h2>为什么有的年轻人想逃离家庭？</h2>
        <p class="answer">行尸走肉回答</p>
        <img src="/resource/images/story.jpg" alt="story">
        <article class="">家应该是给予人能量的存在，当一个人回家都需要勇气时，那里就不能算是做家了。</article>
        <div class="st-footer">
          <time>2月7日</time>
          <span>
            <i></i>
            <i></i>
          </span>
        </div>
    </section>

    <section class="video">
      <img src="/resource/images/diantai.jpg" alt="深夜电台">
      <div class="term pad-main">
        <a href=""></a>
        <div class="title">
          <p>第 401 期</p>
          <p>后来，我想通了</p>
        </div>
      </div>
      <p class="zhubo">
        <span class="touxiang"></span>
        <span class="name">李慧颖</span>
        <span class="icons">
          <i></i>
          <i></i>
        </span>
      </p>
    </section>
  </div>

  <footer>
    <a href="">
      <p class="a1"></p>
      <p>ONE</p>
    </a>
    <a href="">
      <p class="a2"></p>
      <p>ALL</p>
    </a>
    <a href="">
      <p class="a3"></p>
      <p>ME</p>
    </a>
  </footer>
</body>
</html>
